@model appPROYECTO_DSW_I.Models.UsuarioModel
@Html.AntiForgeryToken()


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Nuevo Cliente</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link href="~/css/estilosRegis.css" rel="stylesheet" />
</head>
<body>

    <div class="contenedor">

        <div class="contform">
            <h1 class="text-center">Registro</h1>
            <form asp-action="CreateCliente">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="idUser" class="control-label"></label>
                    <input asp-for="idUser" class="form-control" />
                    <span asp-validation-for="idUser" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="nombreUser" class="control-label"></label>
                    <input asp-for="nombreUser" class="form-control" />
                    <span asp-validation-for="nombreUser" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="correoUser" class="control-label"></label>
                    <input asp-for="correoUser" class="form-control" />
                    <span asp-validation-for="correoUser" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="claveUser" class="control-label"></label>
                    <input asp-for="claveUser" class="form-control" />
                    <span asp-validation-for="claveUser" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="direcUser" class="control-label"></label>
                    <input asp-for="direcUser" class="form-control" />
                    <span asp-validation-for="direcUser" class="text-danger"></span>
                </div>
                <div class="form-group" style="display:flex;">
                    <input type="submit" value="Registrar" class="btn btn-info" style="margin-right:10px;" />
                    <a id="bttt" class="btn btn-primary" asp-area="" asp-controller="Sesion" asp-action="LoginCookie">Iniciar Sesion</a>
                </div>
                <div>@ViewBag.mensaje</div>
            </form>
        </div>
    </div>
</body>
</html>
