@model appPROYECTO_DSW_I.Models.UsuarioModel

@{
    ViewData["Title"] = "CreateUser";
}

<h1>CREAR USUARIO</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateUser">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="idUser" class="control-label"></label>
                <input asp-for="idUser" class="form-control" />
                <span asp-validation-for="idUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nombreUser" class="control-label"></label>
                <input asp-for="nombreUser" class="form-control" />
                <span asp-validation-for="nombreUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="correoUser" class="control-label"></label>
                <input asp-for="correoUser" class="form-control" />
                <span asp-validation-for="correoUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="claveUser" class="control-label"></label>
                <input asp-for="claveUser" class="form-control" />
                <span asp-validation-for="claveUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="direcUser" class="control-label"></label>
                <input asp-for="direcUser" class="form-control" />
                <span asp-validation-for="direcUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idTipo" class="control-label"></label>
                <select asp-for="idTipo" asp-items="@ViewBag.LISTCBO" class="form-control"></select>
                <span asp-validation-for="idTipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a asp-action="CreateUser" asp-controller="Usuario" class="btn btn-primary">Nuevo</a>
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<div>@ViewBag.mensaje</div>
