@*@using Microsoft.AspNetCore.Identity*@

<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - appPROYECTO_DSW_I</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <style>

        .ul {
            padding: 10px 0 15px 0;
        }

        .nav-item {
            display: block;
            margin: 5px 10px;
            padding: 3px 8px;
            transition: all 0.4s;
        }

        .a {
            font-size: 15px;
            color: #004aad;
            cursor: pointer;
            margin: 0 5px;
            position: relative;
            padding-bottom: 5px;
        }

            .a:before {
                content: "";
                display: block;
                width: 0;
                height: 2px;
                background: #229954;
                left: 50%;
                bottom: 0;
                position: absolute;
                transition: all 0.3s;
            }

            .a:hover:before {
                width: 100%;
                left: 0;
            }
    </style>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">FarmaSalud</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @if (User.IsInRole("0"))
                {
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">

                        <ul class="navbar-nav flex-grow-1 ul">
                            <a class="nav-link text-dark a" asp-area="" asp-controller="Home" asp-action="Index">Home</a>

                            @if (User.IsInRole("1") || User.IsInRole("2"))
                            {
                                <a class="nav-link text-dark a" asp-area="" asp-controller="Producto" asp-action="listarProductoNombre">Productos</a>
                            }



                            @if (User.IsInRole("1") )
                            {
                                <a class="nav-link text-dark a" asp-area="" asp-controller="Usuario" asp-action="CreateUser">Nuevo Usuario</a>
                            }


                            <a class="nav-link text-dark a" asp-area="" asp-controller="Sesion" asp-action="Salir">Salir</a>


                            @*<li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>*@
                        </ul>
                    </div>
                }
            </div>
            
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - appPROYECTO_DSW_I - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
