
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FinalizarCompra</title>
</head>
<body>
    <br />
    <h1>COMPRA REALIZADA</h1>
    <br />
    <strong>@ViewData.Model</strong>
    <br /><br />
    <div>
        <a asp-action="Catalogo" asp-controller="Carrito" class="btn btn-primary">Nueva Compra</a>
    </div>
</body>
</html>