@{
    ViewData["Title"] = "Inicio";
}
<style>
    .cont{
        display:block;
        width:200px;
        margin:auto;
        text-align:center;
        padding:20px 0;
        margin-top:40px;
    }
    .aa{
        transition:all 0.4s;
    }
        .aa:hover {
           background-color: #229954;
           color:white;
        }
</style>

<div class="text-center">
    <h1 class="display-4">Bienvenidos a FarmaSalud</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
    <ul class="cont">
        <a class="nav-link text-dark aa" asp-area="" asp-controller="Home" asp-action="Index">Home</a>

        @if (User.IsInRole("1") || User.IsInRole("2"))
        {
            <a class="nav-link text-dark aa" asp-area="" asp-controller="Producto" asp-action="listarProductoNombre">Productos</a>
        }



        @if (User.IsInRole("1"))
        {
            <a class="nav-link text-dark aa" asp-area="" asp-controller="Usuario" asp-action="CreateUser">Nuevo Usuario</a>
        }


        <a class="nav-link text-dark aa" asp-area="" asp-controller="Sesion" asp-action="Salir">Salir</a>


        @*<li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </li>*@
    </ul>
</div>
