@{
    ViewData["Title"] = "Inicio";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="Viewport" content="width=device-width" />
    <title>Inicio</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-grid.min.css" />*@
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!--estilos-->
    <link href="~/css/estilosIndexx.css" rel="stylesheet" />
    <!--iconouser-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>

<body>
    <div id="header">
        <div class="conttitu">
            <h1 class="titulo">FarmaSalud</h1>
        </div>
        <div class="contnav">
            <ul>
                <li><a class="nav-link text-dark opc select" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a></li>
                @if (User.IsInRole("1"))
                {
                    <li><a class="nav-link text-dark opc" asp-area="" asp-controller="Producto" asp-action="listarProductoNombre">Productos</a></li>
                }
                @if (User.IsInRole("1"))
                {
                    <li><a class="nav-link text-dark opc" asp-area="" asp-controller="Reporte" asp-action="ReporteProductosVendidos">Vendidos</a></li>
                }
                <!--li para el carrito-->
                @if (User.IsInRole("2"))
                {
                    <li><a asp-action="Canasta" asp-controller="Carrito" class="nav-link text-dark opc">Carrito de Compras</a></li>
                }

                @if (User.IsInRole("1"))
                {
                    <li><a class="nav-link text-dark opc" asp-area="" asp-controller="Usuario" asp-action="CreateUser">Nuevo Usuario</a></li>
                }

                <li><a class="nav-link text-dark opc" asp-area="" asp-controller="Carrito" asp-action="Catalogo">Catalogo</a> </li>


                @if (User.Identity.Name != null)
                {
                    <li><a class="nav-link text-dark opc" asp-area="" asp-controller="Sesion" asp-action="Salir">Salir</a></li>
                }

            </ul>
        </div>
        <div class="contini">
            <ul>
                <li>
                    <span class="material-symbols-outlined">
                        person
                    </span>
                    @if (User.Identity.Name == null) { <a class="nav-link text-dark opci" asp-controller="Sesion" asp-action="LoginCookie">Iniciar Sesión</a> }
                    @if (User.Identity.Name != null) { <a class="nav-link text-green opci"><strong>@User.Identity.Name</strong></a>}
                    
                    @*<a class="nav-link text-dark opci" asp-area="" asp-controller="Sesion" asp-action="Salir">
                        Iniciar Sesión
                    </a>*@
                </li>
            </ul>
        </div>
    </div>

    <div id="baner">
        <ul>
            <li><img src="~/img/baner1.png" alt=""></li>
            <li><img src="~/img/baner2.png" alt=""></li>
            <li><img src="~/img/baner3.png" alt=""></li>
            <li><img src="~/img/baner4.png" alt=""></li>
        </ul>
    </div>

    <div id="ofertas">
        <h1 class="tituofertas">Nuestras Promociones</h1>
        <div class="contimgofer">
            <section>
                <div class="promo">
                    <div class="contimgpromo"><img src="~/img/ofertas/oferta1.jpg" alt="Alternate Text" /></div>
                    <p class="descrpromo">Prudential 20 Unid.</p>
                </div>
                <div class="promo">
                    <div class="contimgpromo"><img src="~/img/ofertas/oferta2.jpg" alt="Alternate Text" /></div>
                    <p class="descrpromo">Diutin 336 Grs.</p>
                </div>
                <div class="promo">
                    <div class="contimgpromo"><img src="~/img/ofertas/oferta3.jpg" alt="Alternate Text" /></div>
                    <p class="descrpromo">Mascarilla Kn200.</p>
                </div>
            </section>
            <section>
                <div class="promo">
                    <div class="contimgpromo"><img src="~/img/ofertas/oferta4.jpg" alt="Alternate Text" /></div>
                    <p class="descrpromo">Losadel 50ml.</p>
                </div>
                <div class="promo">
                    <div class="contimgpromo"><img src="~/img/ofertas/oferta5.png" alt="Alternate Text" /></div>
                    <p class="descrpromo">Durex Protex.</p>
                </div>
                <div class="promo">
                    <div class="contimgpromo"><img src="~/img/ofertas/oferta6.jpg" alt="Alternate Text" /></div>
                    <p class="descrpromo">Kallozil 50ml.</p>
                </div>
            </section>
        </div>
    </div>
    <div id="footer">
        <img src="~/img/footer.jpg" alt="Alternate Text" />
        <div class="containerf">
            @*&copy; 2022 - appPROYECTO_DSW_I - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>*@
            <p style="text-align:center;font-size:13px;padding:10px 0;">
                © 2022 Servicio Login. Todos Los Derechos Reservados | Diseñado por FarmaSalud
            </p>
        </div>
    </div>

        <!--<div class="text-center">
            <h1 class="display-4">Bienvenidos a FarmaSalud</h1>-->
            @*<p>Learn about <a href="">building Web apps with ASP.NET Core</a>.</p>*@
            <!--<div class="cont">
                <a class="nav-link text-dark aa" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>

                <a class="nav-link text-dark aa" asp-area="" asp-controller="Producto" asp-action="listarProductoNombre">Productos</a>

               
                    <a class="nav-link text-dark aa" asp-area="" asp-controller="Usuario" asp-action="CreateUser">Nuevo Usuario</a>
                


                <a class="nav-link text-dark aa" asp-area="" asp-controller="Sesion" asp-action="Salir">Iniciar Sesión</a>


                <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>
            </div>
        </div>-->
</body>
</html>