@model appPROYECTO_DSW_I.Models.UsuarioModel
<!DOCTYPE html>
<html>
<head>
    <meta name="Viewport" content="width=device-width" />
    <title>Login</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-grid.min.css" />
    <!--estilos-->
    <link href="~/css/estiloslogin.css" rel="stylesheet" />
</head>

<body>
    <div class="row mt-5" id="contiene">
        <div id="contenedor" class="col-sm-4 offset-sm-4">
            <h1 class="titulo">Login</h1>
            <form asp-controller="Sesion" asp-action="LoginCookie" method="post">

                <div class="mb-3">
                    <label for="ejemplocorreo" class="col-form-label">Usuario:</label>
                    <input type="email" class="form-control" asp-for="correoUser" />
                </div>
                <div class="mb-3">
                    <label for="ejemploclave" class="col-form-label">Contraseña:</label>
                    <input type="password" class="form-control" asp-for="claveUser" />
                </div>
                <div id="error">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                </div>
                <div style="display:flex;width:90%;margin:auto;">
                    <button id="boton" type="submit" class="btn btn-primary">Ingresar</button>
                </div>
                <div class="envioregis">
                    <p>Registrarte presionando <a id="bttt" asp-area="" asp-controller="Usuario" asp-action="CreateCliente">aquí</a></p>
                </div>
            </form>
        </div>
    </div>
</body>
</html>

<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>


