body{
    margin:0;
    padding:0;
}
.conten{
    margin: 50px auto;
    display:block;
    width: 70%;
}
.primer, .segun{
    width:100%;
}

.primer{
    text-align:center;
    margin-bottom:50px;
}
.primer p{
    width: 80%;
    margin: auto;
    display: block;
}
.primer a{
    margin-top: 40px;
}

.segun {
    text-align: center;
}
.segun img{
    width:300px;
}

/*FOOTER*/
#footer {
    width: 100%;
    padding: 0;
    margin: 0;
}

    #footer img {
        width: 80%;
        display: block;
        margin: auto;
    }

.containerf {
    background-color: white;
    width: 100%;
    max-height: 50px;
}
